{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Mise à jour des données personnelles{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <label>Classe {{ classe['classname'] }}</label>
    <label for="firstname">Prénom</label>
    <input name="firstname" id="firstname" value="{{ request.form['firstname'] }}" required>
    <label for="lastname">Nom</label>
    <input name="lastname" id="lastname" value="{{ request.form['lastname'] }}" required>
    <br><input type="submit" value="Ajouter">
</form>
{% endblock %}