{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Connexion{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" value="{{ request.form['username'] }}" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" value="{{ request.form['password'] }}">

    <div>
      <input type="submit" value="Connecter">
      <input type="submit" value="Mot de passe oublié" formaction="{{ url_for('auth.forget') }}">
    </div>
  </form>
{% endblock %}


