<!DOCTYPE html>
<title>{% block title %}{% endblock %} - QCM</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>QCM</h1>
  <ul>
    {% if g.user %}
      <li><span>Bonjour {{ g.user['username'] }} !</span>
      <li><a href="{{ url_for('blog.index') }}"><img src="static/home_m.png"/></a>
      <li><a href="{{ url_for('profile.index') }}"><img src="static/settings_m.png"/></a>
      <li><a href="{{ url_for('auth.logout') }}"><img src="static/logout_m.png"/></a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
  {% block profile %}{% endblock %}
</section>

<section class="footer">
  <footer><table><tr>
      <td>Powered by: <a href="http://flask.pocoo.org/"/> </td>
      <td><a href="http://flask.pocoo.org/"><img src="static/flask_small.png"/></a></td>
      <td> and <a href="https://www.python.org/"/></td>
      <td><a href="https://www.python.org/"><img src="static/python-logo.png"/></a></td>
      <td>Contact information:</td>
      <td align="right">
           <table>
           <tr><td><a href="mailto:fabfer@wanadoo.fr">fabfer@wanadoo.fr</a></td></tr>
           <tr><td>Rafale Soft Inc. (c)</td></tr>
           </table>
      </td>
      <td>
          <table>
              <tr><td>Version  1.0.0</td></tr>
              <tr><td>Last update: 20/12/2019</td></tr>
          </table>
      </td>
  </tr></table></footer>
</section>
